.margin_zero{margin:0px;}
.margin_t{margin-top:10px;}
.margin_t1{margin-top:20px;}
.margin_l4{margin-left:4px;}
.margin_l8{margin-left: 5px;}
.margin_l9{margin-left:9px;}
.margin_l21{margin-left: 15px;}
.margin_t6{margin-top: 8px;}
.margin_n{margin-top: 25px;}
.margin_r1{margin-right: 5px;}
.margin5{margin:20px;}
.margin_b{margin-bottom: 20px;}
.margin_b2{margin-bottom: 10px;}
.margin_l12{margin-left:10px;}
.margin_all{margin:0px 10px;}
.padding_all{padding: 10px 0px;}
.margin_t50{margin-top: 51px;}

/**************************width******************************/
.span13{width:1000px;}
.span31{width:180px;}
.span25{width:190px;}
.span11{width:80px;}
.span41{width: 320px;}
.span14{width:510px;}
.span21{width:100px;padding: 5px 0px;}
.span15{width: 160px;}
.span16{width: 262px;}
.span17{width: 498px;}
.span22{width:94px;}
.span26{width:790px;}
.span96{width:275px;}
.span111{width: 820px;}
.span71{width:640px}
.span72{width:260px}
.span74{width:300px;}
/***********************basic**********************************/
.text_align{text-align:center;}
.text_dec{text-decoration:line-through}
.clear {clear: both;height: 25px;}
.no_border{border: none;}
.accordion_bottom{border-bottom: 1px solid #E5E5E5;}


/*************************form***************************/
.form{background-color:#309dcf;}
.real{margin-left:30px;margin-top: 10px;margin-bottom:0px!important;}
.span14 h3{font-size:20px;color:white;}
.span14 h3 small{color:white;}
.span14 span{color:white;font-size:17px;/*line-height:60px;*/}
.margin_r{margin-right: 50px;}
.line_break{background:url(../images/dot.png)repeat-x;}


/*********************home*********************************/
.body_container{background:#fff;padding: 10px;}
.yellow_bar{background-color:#fdf7cd;
border:1px solid #cccccc;
-moz-border:1px solid #cccccc;
-webkit-border:1px solid #cccccc;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}
.yellow_bar_text li{font-size:15px;padding: 15px 0px 9px 0px;text-decoration: none;}
.yellow_bar_text li a{color:#666666;}
.text_bar ul{font-weight:bold;list-style-type:square;color:#ff4f0e;}
.yellow_bar_text li a{text-decoration: none;font-size:15px;color:#666666;}
.box{border-bottom: 1px solid #DDD;border-right: 1px solid #DDD;-webkit-border-left: 1px solid #DDD;-webkit-border-bottom: 1px solid #DDD;-webkit-border-right: 1px solid #DDD;border-left: 1px solid #DDD;-moz-border-bottom: 1px solid #DDD;-moz-border-right: 1px solid #DDD;-moz-border-left: 1px solid #DDD;
padding:5px;
height: 300px;
overflow:hidden;}
.box_list ul li{list-style:none;
margin-bottom:9px;
}
.span41 .nav-tabs > .active > a, .nav-tabs > .active > a:hover {color:#ff4200;font-weight:bold;border-bottom: 1px solid #DDD;}
.span41 .nav-tabs > li > a {-webkit-box-shadow:inset 0 1px 0 rgba(239, 239, 239, 0.2);
-moz-box-shadow: inset 0 1px 0 rgba(239, 239, 239, 0.2);
box-shadow:inset 0 1px 0 rgba(239, 239, 239, 0.2);
background: rgb(245,245,245); /* Old browsers */
background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(239,239,239,1) 62%, rgba(239,239,239,1) 66%, rgba(239,239,239,1) 77%, rgba(239,239,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(62%,rgba(239,239,239,1)), color-stop(66%,rgba(239,239,239,1)), color-stop(77%,rgba(239,239,239,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(239,239,239,1) 62%,rgba(239,239,239,1) 66%,rgba(239,239,239,1) 77%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(239,239,239,1) 62%,rgba(239,239,239,1) 66%,rgba(239,239,239,1) 77%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(239,239,239,1) 62%,rgba(239,239,239,1) 66%,rgba(239,239,239,1) 77%,rgba(239,239,239,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(245,245,245,1) 0%,rgba(239,239,239,1) 62%,rgba(239,239,239,1) 66%,rgba(239,239,239,1) 77%,rgba(239,239,239,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */-webkit-border-radius: 8px 8px 0 0;-moz-border-radius: 8px 8px 0 0;border-radius: 8px 8px 0 0;padding: 5px 10px;font-size: 20px;font-family: Calibri;}
.span41 .nav-tabs > li > a :hover{background-color:#fff;}
.span41 ul{margin:0px;}
.span41 nav{margin:0px;}
.span41{font-size: 13px;color: #666;text-align: justify;}
.span41 p{font-size: 13px;line-height: 14px;text-align: justify;color: #666;}
.span11 ul li{list-style:none;margin-top: 10px;}
.span1 ul li{list-style:none;margin-top: 10px;}
.span1 h3{line-height: 9px;text-align:center;}
.span1 small{color:#00a3e1;}
.btn_reg{padding: 0px 5px 0px;background-color: #f9a020;background-image: -moz-linear-gradient(top, #f9a020, #f9a020);background-image:-ms-linear-gradient(top, #f9a020, #f9a020);  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9a020), to(#f9a020)); background-image: -webkit-linear-gradient(top, #f9a020, #f9a020); background-image: -o-linear-gradient(top, #f9a020, #2f96b4);background-image: linear-gradient(top, #f9a020, #2f96b4); background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9a020', endColorstr='#f9a020', GradientType=0);
  display: inline-block;margin-bottom: 0;font-size: 10px;line-height: 18px;color: #fff;text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;border-color: #e6e6e6 #e6e6e6 #bfbfbf; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);border: 1px solid #ccc;border-bottom-color: #bbb;-webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*margin-left: .3em;}
.side ul li{margin:0px;font-size:10px;}
.span22 ul li{list-style:none;margin-left: 5px;}
.yellow  li{display: inline-block;list-style:none;}
.yellow_nav{color:#666666;font-size:20px;}
.yellow_nav li{display:inline-block;margin: 13px 0px 8px 0px;}
.yellow_nav li a{border-right-width: 1px;border-right-style: solid;border-right-color: #666666;text-decoration:none;padding: 0px 20px;color:#666666;}
.list_none a{border: none;}
.question{list-style:none;}
.question ul li{list-style: none;}
.face{z-index:-1000;float: right;}
.span_text{font-size:9px;margin: 0px 2px!important;}
.list_style ul li{list-style:none;}
h4 small{color:#333333;}
.white{color:#fff;}
.events{height:160px}
.college_content{padding: 10px;height:198px;}
.college_content span{word-wrap: break-word;}
.college_content h3{color:#333;padding: 0px 20px;}
.back{border:1px solid #aaa;-webkit-border:1px solid #aaa;-moz-border:1px solid #aaa;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding: 10px;height:180px;}
.back h3{color:#f89406;}
.fcnt_signBtn {
border: 0 none;
margin: 0;
padding: 0;
cursor: pointer;
background: url(../images/fcnt_signBtn.gif);
width: 196px;
height: 23px;
}
.content_box{height: 100%;}
.content_box a{display: block;text-decoration: none;padding: 7px 0 0 15px;background-color:#eee;height: 21px;border-right: 1px solid #eee;border-bottom: 1px solid #eee;width:236px;}
.content_artical{border: 1px solid #eee;border-top: none;padding: 10px;float: left;width: 230px;min-height: 187px;}
.college_form{background: #F7FBFC;background: -moz-linear-gradient(-45deg, rgba(247, 251, 252, 1) 0%, rgba(217, 237, 242, 1) 40%, rgba(173, 217, 228, 1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(247, 251, 252, 1)), color-stop(40%,rgba(217, 237, 242, 1)), color-stop(100%,rgba(173, 217, 228, 1)));background: -webkit-linear-gradient(-45deg, rgba(247, 251, 252, 1) 0%,rgba(217, 237, 242, 1) 40%,rgba(173, 217, 228, 1) 100%);background: -o-linear-gradient(-45deg, rgba(247, 251, 252, 1) 0%,rgba(217, 237, 242, 1) 40%,rgba(173, 217, 228, 1) 100%);
background: -ms-linear-gradient(-45deg, rgba(247, 251, 252, 1) 0%,rgba(217, 237, 242, 1) 40%,rgba(173, 217, 228, 1) 100%);
background: linear-gradient(-45deg, rgba(247, 251, 252, 1) 0%,rgba(217, 237, 242, 1) 40%,rgba(173, 217, 228, 1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=1 );border:1px solid #aaa;-webkit-border:1px solid #aaa;-moz-border:1px solid #aaa;padding:10px;border-radius:4px;height: 400px;}
.college_form h2{}
.Events{border:1px solid #eee;-moz-border:1px solid #eee;-webkit-border:1px solid #eee;padding:10px;}
.letter_first div:first-letter {color: #666;font-size: xx-large;margin-left: 16px;}
.message{background-color: #F2DEDE;border-color: #EED3D7;color: #B94A48;}
.message span{color:#333;}
.close_cont{font-size:14px;}
nav#help-tools {
height: 40px;
background: white;
background: -moz-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(54%, white), color-stop(100%, #F3F3F3));
background: -webkit-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -o-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -ms-linear-gradient(top, white 54%, #F3F3F3 100%);
background: linear-gradient(top, white 54%, #F3F3F3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0 );
border: solid 1px #EED3D7;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
width: 970px;
margin-bottom: 10px;
margin-top: 10px;
}
nav#help-tools ul {
text-align: center;
}
nav#help-tools ul li {
display: inline;
line-height: 40px;
font-weight: bold;
font-size: 16px;
color: #A8A8A8;
}
nav#help-tools ul li a {
color: #33AEEB;
text-decoration: none;
padding-left: 170px;
background-image: url(../images/arrow-dots.png);
background-repeat: no-repeat;
background-position: left center;
}
.sidebar{}
.sidebar_profic_pic{background: -moz-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(54%, white), color-stop(100%, #F3F3F3));
background: -webkit-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -o-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -ms-linear-gradient(top, white 54%, #F3F3F3 100%);
background: linear-gradient(top, white 54%, #F3F3F3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0 );
-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);margin-bottom: 10px;}
.progress_outline{margin-bottom: 10px;
border: 1px solid #E5E5E5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 5px;
}
.progress_out{border: none;margin: 0px;}
.progress_bar{margin: 10px 0px;}
.index_sidebar_box {
-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
-webkit-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-background-clip: padding-box;
margin-bottom: 10px;
}
.index_sidebar_box .index_sidebar_header {
background: #F7F7F7;
padding: 6px 0px 2px 12px;
border-bottom: 1px solid #E5E5E5;
-webkit-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-background-clip: padding-box;
}
.index_sidebar_box .index_sidebar_body .links {
font-size: 1.1em;
height: 90px;
margin: 0px 0 15px 0;
padding-left: 5px;
}
.index_sidebar_box .index_sidebar_body{background: -moz-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(54%, white), color-stop(100%, #F3F3F3));
background: -webkit-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -o-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -ms-linear-gradient(top, white 54%, #F3F3F3 100%);
background: linear-gradient(top, white 54%, #F3F3F3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0 );
}
.index_sidebar_box .index_sidebar_body .links li {
list-style: none;
width: 60px;
padding: 0px 5px;
float: left;
margin-top: 7px;
}
.index_sidebar_content{background: -moz-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(54%, white), color-stop(100%, #F3F3F3));
background: -webkit-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -o-linear-gradient(top, white 54%, #F3F3F3 100%);
background: -ms-linear-gradient(top, white 54%, #F3F3F3 100%);
background: linear-gradient(top, white 54%, #F3F3F3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0 );
padding: 5px 0px;}
.index_sidebar_content .links1 li {
list-style: none;
margin-top: 7px;
}
.links li a{color:#333;}
.links1{margin:7px 10px;}
.links1 li a{color:#333;font-size: 1.1em;}
.font_sidebar{font-size: 14px;
font-weight: bold;
color: #08C;}
.events_box{padding:10px;border:1px solid #ddd;-moz-border:1px solid #ddd;-webkit-border:1px solid #ddd;border-radius:4px;background:url(../images/events.png)}
.events_box ul li{list-style-image:url('../images/double_quote.png');margin-top:10px;}
.events_box ul li img{left: 15px;z-index: 1000;position: relative;}
.news_box{padding:10px;border:1px solid #ddd;-moz-border:1px solid #ddd;-webkit-border:1px solid #ddd;border-radius:4px;background:url(../images/events.png)}
.news_data ul li{list-style-image:url('../images/icon_news.png');margin-left: 20px;margin-bottom:10px;}
.news_list{z-index: 1000;position: absolute;left:560px;margin-top: 10px;}
.news_arrow{left: 15px;z-index: 1000;position: relative;}
.right_border{width:2px;border-right:1px dotted #cbc7c7;-moz-border-right:1px dotted #cbc7c7;-webkit-border-right:1px dotted #cbc7c7;height:197px;}
.study_content{font-size:16px;font-weight: bold;color: #333;}
.study_data{margin-bottom:20px;}
.study_point li{list-style:none;margin-top: 20px;}
.count{width:110px;margin-left:20px;}
.artical_box{font-size: 13px;color: #666;text-align: justify;}
.artical_box_data{border-bottom: 1px solid #DDD;border-right: 1px solid #DDD;-webkit-border-left: 1px solid #DDD;-webkit-border-bottom: 1px solid #DDD;-webkit-border-right: 1px solid #DDD;border-left: 1px solid #DDD;-moz-border-bottom: 1px solid #DDD;-moz-border-right: 1px solid #DDD;-moz-border-left: 1px solid #DDD;padding: 5px;height: 223px;overflow: hidden;}
.artical_box p{font-size: 13px;line-height: 14px;text-align: justify;color: #666;}
.artical_heading{background:#F7F7F7;font-size: 20px;padding: 6px 15px;font-weight: bold;border-bottom: 1px solid #E5E5E5;-webkit-border-top-right-radius: 5px;-webkit-border-top-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;-webkit-background-clip: padding-box;color:#333;}
.index_sidebar_progress{background-color:#ddd;padding:5px 15px;margin-bottom: 10px;border: 1px solid #E5E5E5;-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);-webkit-border-radius: 5px;border-radius: 5px;-moz-border-radius: 5px;}
.orange{color:#f89406;padding: 7px 10px;}
.orange:hover{color:#333;}
.invite{border:1px solid #E5E5E5;-moz-border:1px solid #E5E5E5;-webkit-border:1px solid #E5E5E5;}


/*******************************profile_single****************************************************/
.profile_border{border-bottom: 1px solid #DDD;border-right: 1px solid #DDD;background:url(../images/events.png);padding: 10px 15px;border-left: 1px solid #DDD;}
.single_sidebar ul{list-style:none;margin: 0px 5px;border-top: 1px solid #DDD;width: 177px;}
.single_sidebar ul li{padding: 8px 0px;border-bottom: 1px solid #DDD;font-size: 15px;font-weight: bold;padding-right: 5px;}
.contact_box{background-color:#fff;border:2px solid #ddd;}
.profile_heading{padding:8px;border: 1px solid #DDD;}
.active_side{background:url(../images/events.png);border-left:1px solid #ddd;}
.contact_box_content .input-small{width:111px;}
.contact_box_content .input-medium{width:184px;}
.form_data .control-label{font-size:15px;text-align: left;}



