@charset "utf-8";       //file encoding
 
@font-face {
font-family: 'Helvetica Bold';
src: url('Helvetica Bold.ttf');}
@font-face {
font-family: 'HelveticaNeueLTStd56Italic';
src: url('HelveticaNeueLTStd56Italic.ttf');}
@font-face {
font-family: 'HelveticaNeueLTStd43LightEx';
src: url('HelveticaNeueLTStd43LightEx.ttf');}
@font-face {
font-family: 'HelveticaNeueLTStd47LightCo';
src: url('HelveticaNeueLTStd47LightCo.ttf');}
@font-face {
font-family: 'HelveticaNeueLTStd56Italic';
src: url('HelveticaNeueLTStd56Italic.ttf');}
@font-face {
font-family: 'HelveticaNeueLTStd46LightIt';
src: url('HelveticaNeueLTStd46LightIt.ttf');}
/*************************TAGS RESET*********************************/
html,body {margin:0;padding:0;border:0;background:#f0f4f6 url(../images/bg.png);font-size:12px;color:#666;font-family:Arial;}
body {width:1020px;margin:0px auto;-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);font-family:Calibri;}
header {background:#3881AB;position:fixed;left:0;top:0;width:100%;opacity:0.8;height: 140px;}
footer {position:absolute;left:0;background:#333;width:100%;opacity:0.8;height:150px;-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);color:#fff}
/***************************HEADER***********************************/
.header_bar{background:#000000;height:30px;position:absolute;left:0;width:100%;-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);color:#fff}
.bar{text-align:right;margin:6px 10px 0px 0px;}
.body_bar{background:black;height:30px;}
.logo_holder{margin-top:30px;}
.body_header{background:#2489b0;height:110px;}
.body_footer{background:#ccc;height:150px;}
.header_main{background: #0C2734;margin:0 auto;width: 1020px;min-height:40px;color:#fff;}
.bar img{margin-left:5px;}
.signup{background:url(../images/sign_up.png) no-repeat left; padding:0px 20px;display:inline-block;vertical-align:super}
.login{background:url(../images/login.png) no-repeat left; padding:0px 20px;display:inline-block;vertical-align:super}
/********************************COMMON SPACING STANDARDS**********************/
.margin{margin:10px;}
.margin1{margin:10px 0;}
.margin2{margin:20px 0;}
.margin3{margin:30px 0;}
.margin4{margin:40px 0;}
.margin_alpha{margin-top:0px!important;}
.margin_beta{margin-right:0px!important}
.margin_gamma{margin-bottom:0px;}
.margin_delta{margin-left:0px!important}
.padding_alpha{padding-top:0px;}
.padding_beta{padding-right:0px!important}
.padding_gamma{padding-bottom:0px;}
.padding_delta{padding-left:0px!important;}
.border_alpha{border-top:none;}
.border_beta{border-right:none!important}
.border_gamma{border-bottom:none!important}
.border_delta{border-left:none!important;}
.float_l{float:left;}
.float_r{float:right;}
.white{color:#fff}
.blue{color:#00a3e1}
.super{vertical-align:super}
/******************************MAIN MENU*******************************/
.main_menu{margin-top:10px;text-align:right;}
.menu li{display:inline-block;border-right: 1px solid white;-moz-border-right: 1px solid white;-webkit-border-right: 1px solid white;font-size:16px;height: 18px;padding: 0px 19px;}
.menu li a{color:white;text-shadow: 1px 1px 2px #000;filter: dropshadow(color=#000, offx=2, offy=1);text-decoration:none;}
.menu li a.active,.menu li a:hover{color:#000}
/***************************MAIN INDEX PAGE****************************/
.body{background:#fff;padding:10px;}
.round_box{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background:#eaeaea;padding:10px;border:solid 1px #ccc}
.round_box img{margin:0px 5px;}
.control-label{font-weight:700;}
.notify_box{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background:#00a3e1;padding:3px;float:right;}
.notify_box a,.notify_box a:hover{color:#fff}
.thumb_box{width:175px!important;}
img.thumb{border:solid 1px #ccc;margin:3px;}
/***************************FOOTER***********************************/
.footer{width:235px;margin:0px 10px;float:left;}
.footer ul li{list-style:none;}
.footer ul li a{color:#fff}
.footer div{margin:0px 15px;}
/***************************Signup***********************************/
ul.signup_benefits{font-size:14px;}
ul.signup_benefits li{list-style:none;background:url(../images/plus.png) no-repeat;padding-left:25px;margin:7px 0;}
ul.events{}
ul.events li{list-style:none;height:50px;margin:5px 0;border-bottom:dashed 1px #ccc;padding:5px 0;}
ul.events li:hover{background:#feffaa}
ul.events li:after{clear:both}
ul.events li img{float:left; border:solid 1px #ccc; margin:0px 5px 5px;}
ul.events li img:after{clear:both}
ul.events li span{width:390px;float:left;word-wrap:break-word;}
ul.events li h3{width:75px;color:#00a3e1;font-weight:500;float:right;display:inline-block;text-align:center;line-height:20px;}
ul.events li h3 small{font-size:11px;display:block;}
/**************************UNIVERSITY******************************/
ul.uni_gallery{margin:0px -10px;overflow-y:hidden;border:solid 1px #ccc;border-right:none;border-left:none;height:100px}
ul.uni_gallery li{list-style:none;float:left;}
.uni_menu_placeholder{position:relative;top:-101px;}
ul.uni_menu{/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmN2JlNSIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFhOWViYSIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(31,123,229,0.9) 0%, rgba(26,158,186,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,123,229,0.9)), color-stop(100%,rgba(26,158,186,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(31,123,229,0.9) 0%,rgba(26,158,186,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(31,123,229,0.9) 0%,rgba(26,158,186,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(31,123,229,0.9) 0%,rgba(26,158,186,0.9) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(31,123,229,0.9) 0%,rgba(26,158,186,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61f7be5', endColorstr='#e61a9eba',GradientType=0 ); /* IE6-8 */
height:20px;padding:5px;color:#fff;margin-right:-10px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 5px;-webkit-border-radius: 5px 0px 0px 5px;border-radius: 5px 0px 0px 5px;}
ul.uni_menu li {list-style:none;line-height:20px;font-weight: 500;font-size: 17px;padding: 0px 5px;border-right: solid 1px #CCC;display:inline-block}
.map{-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, , 0.2);
-moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, , 0.2);
box-shadow: 0px 0px 2px 2px rgba(0, 0, , 0.2);}